@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;600&display=swap');

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, rgb(24, 24, 24) 0%, rgba(0,0,0,1) 100%);
  transition: 0.5s ease-in-out;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
}

header {
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 60px;

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-weight: 700;
      letter-spacing: 2px;
      color: #fff;
      text-decoration: none;

    }

    nav {

      ul {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          margin: 0 60px;
          font-weight: 300;

          &.btn {
            a {
              color: #fff;
              font-weight: 700;
              background: #9b3636;
              padding: .7rem 1.2rem;
              border-radius: 5px;
            }
          }

          a {
            text-transform: capitalize;
            text-decoration: none;
            color: #fff;
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.scroll {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  color: #fff;
  margin-top: 20rem;

  svg {
    width: 2.5rem;
  }
}

.title {
  font-family: "Roboto Mono";
  font-size: 7.5rem;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  color: #fff;
  font-weight: 600;
  line-height: 7.5rem;
  

  span {
    display: block;
  }

  @media (max-width: 1440px) {
    font-size: 6rem;
  }
}

.price {
  font-family: "Roboto Mono";
  font-size: 1.6rem;
  text-align: center;
  width: 10%;
  margin: 0 auto;
  color: rgb(121, 121, 121);
  font-weight: 100;
}

.info {
  font-size: 1.5rem;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  color: #fff;
  line-height: 2rem;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loading-bar-container {
  width: 100px;
  height: 32px;
  background: #272727;
}

.loading-bar {
  height: 32px;
  background: #f15946;
}


@media (max-width: 740px) {
  .scrollArea {
    height: 100%;
    width: 100%;
    overflow: visible;
  }

  .container {
    height: 100%;
    width: 100%;
    overflow: visible;
  }
}
